.advantages {
  text-transform: uppercase;
}

.advantages__list {
  .reset-list();
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  &--block-small {
    padding-bottom: 53px;
    h3 {
      padding-top: 25px;
    }
    .advantages__description {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &--block-small-1 {
    @media (min-width: 768px) {
      .advantages__description {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
  &--block-small-2 {
    padding: 16px 0;
    .advantages__description {
      padding-left: 40px;
      padding-right: 40px;
      @media (min-width: 768px) {
        padding-left: 18px;
        padding-right: 18px;
      }
      @media (min-width: 1200px) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  &--block-small-3 {
    .advantages__title {
      @media (min-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @media (min-width: 1200px) {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
    .advantages__description {
      padding-left: 35px;
      padding-right: 35px;
      @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    &--row-rewers {
      flex-direction: row-reverse;
      width: 100%;
    }
    &--block-small {
      padding: 11px 36px;
      width: 33.3333%;
    }
  }
  @media (min-width: 1200px) {
    &--block-small {
      padding-bottom: 55px;
    }
  }
}

.advantages__content {
  text-align: center;
  &--block-1 {
    padding: 48px 0px 30px;
    .container {
      padding: 0 12px;
    }
    @media (min-width: 768px) {
      padding-top: 18px;
    }
    @media (min-width: 1200px) {
      .advantages__description {
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 22px;
      }
    }
  }
  &--block-2 {
    padding: 18px 0px 23px;
    br {
      display: none;
      @media (min-width: 1200px) {
        display: block;
      }
    }
    @media (min-width: 768px) {
      .advantages__title {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 14px;
        padding-top: 24px;
      }
      .advantages__description {
        padding-top: 23px;
      }
    }
    @media (min-width: 1200px) {
      .advantages__title {
        padding-top: 30px;
      }
      .advantages__description {
        padding-left: 70px;
        padding-right: 70px;
      }
    }
  }

  //   padding: 0 20px;
  &--inner-color {
    color: @main-color-white;
    background-color: #81b3d2;
    .advantages__title {
      color: @main-color-white;
    }
  }
  @media (min-width: 768px) {
    &--block-1 {
      width: 33%;
    }
    &--block-2 {
      width: 33%;
    }
  }
}

.advantages__title {
  color: @main-color-black;
  line-height: 26px;
  font-size: 18px;
  margin: 0;
  padding: 20px 0 12px 0;
  @media (min-width: 768px) {
    font-size: 21px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 17px;
  }
  @media (min-width: 1200px) {
    padding-top: 27px;
    padding-left: 95px;
    padding-right: 88px;
    padding-bottom: 16px;
  }
}

.advantages__description {
  margin: 0;
  padding: 19px 0 9px 0;
  @media (min-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: 1200px) {
    padding-top: 22px;
  }
}

.advantages__cover {
  text-align: center;
  &--block-1 {
    height: 260px;
    img {
      height: 260px;
      width: auto;
      object-fit: cover;
    }
  }
  &--block-2 {
    height: 260px;
    img {
      height: 260px;
      width: auto;
      object-fit: cover;
    }
  }
  @media (min-width: 768px) {
    &--block-1 {
      width: 67%;
    }
    &--block-2 {
      width: 67%;
    }
    img {
      width: 100%;
      height: fit-content;
    }
  }
}
