.advantages {
  text-transform: uppercase;
}

.advantages__list {
  .reset-list;
}

.advantages__item {
}

.advantages__content {
  text-align: center;
  &--inner-color {
    color: @main-color-white;
    background-color: #81b3d2;
    .advantages__title {
      color: @main-color-white;
    }
  }
}

.advantages__title {
  color: @main-color-black;
  line-height: 26px;
  font-size: 18px;
}

.advantages__cover {
  text-align: center;
}
