.catalog {
  // max-width: 520px;
  // padding: 0 20px;
  // margin-left: auto;
  // margin-right: auto;
}

.catalog__list {
  .reset-list();
  text-align: center;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.catalog__item img {
  @media (min-width: 768px) {
    // width: 100%;
    // height: fit-content;
  }
}

.catalog__item {
  @media (max-width: 768px) {
    max-width: 320px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 1200px) {
    width: 33.3%;
  }
  img {
    @media (min-width: 768px) {
      width: 100%;
    }
  }
  &--first-photo {
    max-width: 320px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {
      max-width: 100%;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    img {
      width: 100%;
      height: fit-content;
    }
  }
}

.catalog__author-wrapper {
  @media (min-width: 768px) {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
  }
  @media (min-width: 1200px) {
    margin-top: -84px;
    background: rgba(0, 0, 0, 0.3);
	color: #fff;
	position: relative;
  }
}

.catalog__title {
  font-weight: bold;
  text-transform: uppercase;
}

.catalog__author-name {
  font-style: normal;
}

.catalog__author-info {
  text-align: left;
}

.catalog__like {
  font-weight: bold;
  text-align: left;
}
