.catalog {
  padding-top: 20px;
  @media (min-width: 768px) {
    padding: 0 60px;
  }
  @media (min-width: 1200px) {
    padding: 0;
  }
}

.catalog__list {
  .reset-list();
  text-align: center;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.catalog__item img {
  @media (min-width: 768px) {
  }
}

.catalog__item {
  max-width: 320px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 21px;
  padding-bottom: 21px;
  &:not(:first-child) {
    @media (min-width: 768px) {
      .catalog__author-wrapper {
        padding-right: 33px;
      }
      width: 50%;
      padding: 0;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      img {
        height: 267px;
      }
    }
    @media (min-width: 1200px) {
      width: 33.3%;
      .catalog__author-wrapper {
        margin-top: -87px;
        padding: 33px 21px 34px 21px;
        height: 80px;
      }
    }
  }

  @media (min-width: 768px) {
    width: 50%;
    padding: 0;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: 1200px) {
    width: 33.3%;
  }
  img {
    @media (min-width: 768px) {
      width: 100%;
    }
  }
  &:first-child {
    max-width: 320px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 17px;
    @media (min-width: 768px) {
      max-width: 100%;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    img {
      width: 100%;
      height: fit-content;
      height: 280px;
      @media (min-width: 768px) {
        height: 400px;
      }
      @media (min-width: 1200px) {
        height: 405px;
      }
    }
    @media (min-width: 1200px) {
      .catalog__like {
        margin-right: 0;
      }
    }
  }
}

.catalog__author-wrapper {
  @media (min-width: 768px) {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 7px 21px 16px 20px;
  }
  @media (min-width: 1200px) {
    margin-top: -93px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: relative;
    padding: 16px 21px 17px 20px;
  }
}

.catalog__title {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog__author-name {
  font-style: normal;
}

.catalog__author-info {
  text-align: left;
}

.catalog__like {
  font-weight: bold;
  text-align: left;
  padding-top: 16px;
  padding-left: 37px;
  @media (min-width: 768px) {
    padding-top: 4px;
    padding-left: 0px;
  }
  @media (min-width: 1200px) {
    margin-right: 10px;
  }
}
