.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c4c4c4;
}

.cover__img {
	@media (min-width: 768px) {
		width: 461px;
		height: 350px;
	  }
}
