.form-present {
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  padding-bottom: 6px;
  @media (min-width: 768px) {
    order: 2;
    width: 50%;
    padding: 0;
    border-left: 1px solid #dbdbdb;
  }
  @media (min-width: 1200px) {
    padding-left: 21px;
  }
}
.form-present__title {
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 4px;
  @media (min-width: 768px) {
    margin-bottom: 39px;
    text-align: left;
    margin-left: 56px;
  }
}

.form-present__info {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    padding-left: 58px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.form-present__field {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  background-color: #f2f2f2;
  margin-left: 17px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 18px;
  width: 100%;
  border: 4px solid #f2f2f2;
  outline: none;
  &:focus {
    background: 0 0;
    &::-webkit-input-placeholder {
      color: transparent;
    }
  }
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: @main-color-black;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: @main-color-black;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: @main-color-black;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: @main-color-black;
  }
}
