.search-hotel {
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px;
  max-width: 500px;
  margin: 0 auto;
}

.search-hotel__title {
  color: @main-color-black;
  line-height: 26px;
  font-size: 18px;
}

.search-hotel__description {
  line-height: 24px;
}

.search-hotel__button {
  text-transform: uppercase;
  max-width: 458px;
  margin: 0 auto;
  width: 100%;
}
