.site-list {
  .reset-list;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.site-list__item {
  background-color: #81b3d2;
}

.site-list__link {
  .link-reset;
  text-align: center;
  line-height: 40px;
}
